body,
html {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    background-image: url(./assets/Etch-a-Sketch.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* these are the styles for nav section */
.nav {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.nav h1 {
    margin-bottom: 0;
}

/* these are the styles for the content section */
/* also adds font for footer section */
.content, .footer {
    font-family: 'Open Sans', sans-serif;
}

/* these are the styles for the options section */
.options-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.options{
    background-color:#222222;
    border-radius: 2rem;
    display: flex;
    color: white;
    padding: 0 1.5rem;
    gap: 1rem;
}

.options .options-color{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options .options-color p{
    margin-right: 0.5rem;
}

.options .options-color #color-picker{
    width: 3vh;
    height: 3vh;
    margin-right: 0.5rem;
}


.options .options-dimensions{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.options .options-erase-and-clear{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.options .options-erase-and-clear img{
    max-width: 2vh;
    max-height: auto;
}

/* these are the styles for the canvas section */
.canvas-container{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    width: 75vh;
    height: 75vh;
    background-color: white;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}

/* these are the footer styles */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 1rem;
}

.footer p{
    letter-spacing: 0.2rem;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}